﻿@model  List<Team>
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<section id="chefs" class="chefs" style="background-image: url(../assets/img/Code.jpg)">
    <div class="container">

        <div class="section-title">
            <h2>فريقنا <span>العظيم</span></h2>
            <p>.نسعي دائما لبذل اكبر مجهود ارضاء لكم</p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/Manager/Imgs/Team/@item.Image" class="img-fluid" alt="" width="350"height="250"></div>
                        <div class="member-info">
                            <h4>@item.Name</h4>
                            <span>@item.JobTitle</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>

    </div>
</section>
    <!-- End Chefs Section -->