﻿<div class="container" style="margin:10px;padding:5px">
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" style="background-image:url(../assets/img/com.jpg)">
        <div class="container position-relative">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">


                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>@item.Name</h3>
                                <h4>@item.Sbject</h4>
                                <h6>@item.Email</h6>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    . @item.Message
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    }



                </div>
                <!-- End testimonial item -->

                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
</div>
<!-- End Testimonials Section -->