﻿@model Contact
@{
    ViewData["Title"] = "ContactUS";
}
<h1>تواصل معانا</h1>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2><span>تواصل </span> معانا</h2>
            <p>تواصل معانا لاقترحك او وجود شكوي لديك او للاعلان معانا </p>
        </div>
    </div>

    <div class="map">
        <iframe style="width:100%; height:450px;border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.293555799967!2d31.60879788495575!3d30.114412381856962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581d135c16673d%3A0xf0df0326e2dee48e!2z2LPYqNmK2YbZitizINmF2K_ZitmG2Kkg2KfZhNi02LHZiNmC!5e0!3m2!1sar!2seg!4v1652655691985!5m2!1sar!2seg" ;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container mt-5" style="margin-bottom:70px">

        <div class="info-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-phone"></i>
                    <h4>هاتف</h4>
                    <p>+201000668964<br>+201555582570</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-envelope"></i>
                    <h4>البريد الاليكتروني</h4>
                    <p>Breaking-news.com<br>Breaking-news@org.com</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-clock"></i>
                    <h4>ساعات العمل</h4>
                    <p>من الاحد الي للاربعاء:<br>11:00 AM - 2300 PM</p>
                </div>


                <div class="col-lg-3 col-md-6 info">
                    <i class="bi bi-geo-alt"></i>
                    <h4>موقعنا</h4>
                    <p>الشروق<br>القاهره; مصر</p>
                </div>

            </div>
        </div>
        <div class="text-right">
            <form asp-action="SendContect" method="post" style="margin-top:30px">
                <div class="row">

                </div>

                <div class=form-group mt-3">
                    <input type="text" class="form-control" asp-for="Name" placeholder="الاسم" >
                    <span asp-validation-for="Name"class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="email" class="form-control" asp-for="Email" placeholder="البريد الاليكتروني">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" asp-for="Sbject" placeholder="الموضوع" >
                    <span asp-validation-for="Sbject"class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" asp-for="Message" rows="5" placeholder="رسالتك"></textarea>
                    <span asp-validation-for="Message"class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button class="btn"
                            style=" background-color: #ffb03b;padding:10px 24px;margin-top:5px;
                 color:aliceblue;border-radius:50px" type="submit">
                        ارسال
                    </button>
                </div>
            </form></div>

    </div>
</section>
<!-- End Contact Section -->