﻿@model List<Category>

   
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>ليه تختار  <span>موقعنا بالذات</span></h2>
            <p style="text-align:right">. هنا ستجد التنوع المختلف في الاخبار مع وجد اوجه الاختلاف في عرض الخبر من وجهات نظر مختلفه </p>
        </div>
        
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4" style="margin-bottom:10px;text-align:center;">
                    
                    <div class="box">
                        <span>0 @item.Id</span>
                        <a href="/Home/News/@item.Id">
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                        </a>
                    </div>
                </div>
            }



        </div>

    </div>
</section>
   