﻿
<div class="container-fluid">
    <div class="card-title text-center"style="margin: 10px; background-color:#ffb03b; padding: 10px">
        <h1 style="color:#ffffff;"><strong>@*@ViewBag.X*@ @ViewData["Z"]</strong> </h1>
    </div>
    <div class="row" style="margin:20px;padding:10px">
        @foreach (var item in Model)
        {


            <div class="col-lg-5 align-items-stretch video-box" style="padding:10px">
                <img src="~/Imgs/News/@item.Image" style="width:400px;height:400px;border-radius:20%" />
            </div>


            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">



                <div class="content" style="text-align:right">
                    <h3><strong>@item.Titel</strong></h3>
                    <p>

                    </p>
                    <p class="fst-italic">
                        @item.Topic
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> @item.Date</li>
                    </ul>
                    <p>

                    </p>
                </div>
            </div>
            
            <hr />
        }

    </div>

    </div>


