﻿@model News.Models.Contact

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <h1>Details</h1>

    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sbject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sbject)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id"class="btn btn-info"style="margin:5px">Edit</a> |
        <a asp-action="Index"class="btn btn-dark"style="margin:5px">Back to List</a>
    </div>
</div>