﻿@model IEnumerable<News.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1>Index</h1>

    <p>
        <a asp-action="Create"class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-hover solid 3px"style="margin:5px;padding:5px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        <img src="~/Manager/Imgs/Team/@item.Image" style=" width:300px;height:200px;border-radius:20%" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-info">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>