﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container" dir="rtl">
    <h1>تسجيل دخول</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>برجاء ادخال بيانات حسابك الخاصه</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" style="margin:5px">
                                <input asp-for="Input.RememberMe" />
                                احفظ كلمه المرور
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin:5px">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-danger" style="margin:5px">نسيت كلمه المرور الخاصه بي</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-dark">سجل معانا</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}