﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item" style="margin-bottom:20px">
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Register">سجل معانا</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Login">تسجيل دخول</a>
        </li>
    }

