﻿@model IEnumerable<News.Models.New>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1>Index</h1>

    <p>
        <a asp-action="Create"class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-hover solid 3px"style="margin:5px;padding:5px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        <img src="~/Manager/Imgs/News/@item.Image" style="width:100px;height:100px;border-radius:50%">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-info">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-dark">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>